
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* * {
    letter-spacing: inherit;
    font-size: inherit;
  } */

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img {
	display: block;
    max-width: 100%;
}
.container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
section{
    padding: 120px 0;
}
header{
    padding: 24px 0;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 76px;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em
}
.logo_part{
    color: #2E2F42;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.nav_bar a{
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.5;
}
.nav_bar a:hover,
.nav_bar a:focus{
    color: #404BBF;
}
.nav_bar a:active{
    text-decoration: underline;
}
.nav_bar_contacts ul{
    font-style: normal;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.nav_bar_contacts_link{
    color: #434455;
    line-height: 1.5;
}
.nav_bar_contacts a:hover,
.nav_bar_contacts a:focus{
    color: #404BBF;
}
.banner{
    background-color: #2E2F42;
}
.banner_title{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}
.banner_btn{
    display: block;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border:none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    width: 233px;
    height: 56px;
    margin: 0 auto;
}
.banner_btn:hover,
.banner_btn:focus{
    background-color: #404BBF;
    cursor: pointer;
}
.technology_title{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.11;
    margin-bottom: 72px;
}
.technology_list{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.technology_list_title{
    margin-bottom: 8px;
}
.technology_list h3{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}
.team{
    background-color: #F4F4FD;
}
.team_title{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.team_list{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}
.team_list li{
    background-color: #FFFFFF;
}
.team_list h3{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 8px;
}
.team_list p{
    text-align: center;
    margin-bottom: 32px;
}
.portfolio_title{
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.portfolio_examples{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio_examples li{
    flex-basis: calc((100% - 52px)/3);
    border: 1px solid #e7e9fc;
}

.portfolio_examples li img{
   width: 100%;
   margin-bottom: 32px;
}
.portfolio_examples h3{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-left: 16px;
    margin-bottom: 8px;
}
.portfolio_examples p{
    padding-left: 16px;
    margin-bottom: 32px;
}
.footer{
    padding: 100px 0;
    background-color: #2E2F42;
    color: #F4F4FD;

}
.footer_container{
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    justify-content: flex-start;
    
}
.logo_part_end{
    color: #f4f4fd;
}
.footer_txt{
    width: 264px;
}

